:root {
  font-size: 16px;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #030d18;
  background-color: #f0eee1;
}

a {
  color: #f5484a;
  text-decoration: none;
}

/* Start: Pantalla Inicial----------------------------------------------------------------------------------------------*/
.initial-screen {
  width: 100%;
  height: 100vh;
}
#cd-intro {
  position: relative;
  height: 90%;
  background: url(../img/intro-background.jpg) no-repeat center center;
  background-size: cover;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/*Container de la foto */
.container-intro-1 {
  order: 1;
}
/*Container del boton y texto*/
.container-intro-2 {
  order: 2;
  display: flex;
  flex-direction: column;
}

.presentacion-text {
  order: 1;
  flex-grow: 3;
  width: 100%;
}
.intro-text-name {
  display: block;
  position: relative;
  font: 600% Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: white;
}

.intro-text-job {
  display: block;
  position: relative;
  font: 600% Helvetica, Sans-Serif;
  letter-spacing: -5px;
  font-size: 5em;
  color: white;
  /*color: rgba(0,0,255,0.5);  */
}

#cd-intro-tagline {
  order: 2;
  text-align: center;
}
/* Contact Me Boton */
.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(245, 72, 74, 0.9);
  margin-top: 1em;
  border-radius: 20em;
  color: white;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-touch .cd-btn:hover {
  background-color: #f5484a;
}
.cd-btn.is-hidden {
  /* assign a position fixed and move outside the viewport (on the right) */
  opacity: 0;
  position: fixed;
  right: -20%;
  top: 0;
  padding: 0.8em 1.2em;
  margin: 14px 0 0;
  -webkit-transition: right 0.3s, opacity 0.3s;
  -moz-transition: right 0.3s, opacity 0.3s;
  transition: right 0.3s, opacity 0.3s;
}
.cd-btn.is-hidden.slide-in {
  /* slide in when the secondary nav gets fixed */
  right: 5%;
  opacity: 1;
}

/* First Photo */

@media (max-width: 1361px) {
  .intro-photo {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
}
@media(min-width:1400px){
  .intro-photo{
    width: 100%;
    height:auto;
    max-width: 550px;
  }
}


.intro-photo {
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Start:Nav inicio------------------------------------------------------------------------------------------------------ */
.cd-secondary-nav {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  z-index: 1;
  height: 10%;
  background-color: rgba(3, 13, 24, 0.96);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.cd-secondary-nav nav,
.cd-secondary-nav ul,
.cd-secondary-nav li,
.cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* reset navigation values */
  position: static;
  width: auto;
  max-width: 100%;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  text-align: center;
  background-color: transparent;
}
.cd-secondary-nav li a {
  position: relative;
  text-align: center;
  display: block;
  padding: 30px 40px 0 40px;
  border-bottom: none;
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  transition: padding 0.2s;
}

.cd-secondary-nav li a b {
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  color: rgba(240, 238, 225, 0.3);
}

.cd-secondary-nav li a:hover b,
.cd-secondary-nav li a.active b {
  color: #f0eee1;
}
.cd-secondary-nav li:nth-child(1) a span {
  background-position: 0 0;
}

@media (max-width: 768px) {
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
}
@media (max-width: 1367px) and (min-width: 1024) {
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -30px 0;
  }
}
@media (max-width: 1080px) and (min-width: 800px) {
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -50px 0;
  }
}
.cd-secondary-nav li:nth-child(3) a span {
  background-position: -80px 0;
}
.cd-secondary-nav li:nth-child(4) a span {
  background-position: -120px 0;
}
.cd-secondary-nav li:nth-child(5) a span {
  background-position: -160px 0;
}
.cd-secondary-nav.is-fixed {
  /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
  /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
}
.cd-secondary-nav.animate-children {
  /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
  /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cd-secondary-nav.animate-children li a {
  padding: 26px 30px 0 30px;
}
.cd-secondary-nav.animate-children li a span {
  opacity: 0;
}

.cd-secondary-nav li {
  display: inline-block;
  margin-left: -4px;
}

.cd-secondary-nav-trigger {
  display: none;
}

/*End,:Nav inicio------------------------------------------------------------------------------------------------------ */

/*End:Pantalla inicio------------------------------------------------------------------------------------------------------ */

/*Start:Main Secciones descritas por navbar principal */

/*Mobile first */
.cd-section {
  margin: 10vw auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0.6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
  }
}

/*Destop */
@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

/*End: Main */

/* Start: Learn more Bottom-----------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-size: 1em;
  /*   flex-wrap:wrap;   */
}
@media (min-width: 1450px) {
  .about-section {
    white-space: pre-line;
  }
}

.about-photo {
  width: 100%;
  height: auto;
  max-width: 300px;
  border: 15px solid transparent;
}

@media (min-height: 1024px) {
  .about-photo {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}

@media (min-width: 1361px) {
  .about-photo {
    width: 100%;
    height: auto;
    max-width: 550px;
  }
}

.cv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

button {
  font-family: "Mukta";
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
/*  End: Learn more Bottom   */

/* Start:Table of Expertise-Interests/Core skills ------------------------------------------------------------------------*/
.expertise {
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
  justify-content: center;
}

.lista-expertise {
  list-style: none;
  margin: 15px 0;
}

.list-elements {
  font-size: 1.5em;
  padding: 5px 0;
}

.machine-learning {
  padding: 5px 0;
}

.interets,
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 2);
  margin: 40px;
  border: 1px solid #000;
  border-radius: 3px;
}

.lavel {
  background-color: #cbc7b1;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 25px 0;
  width: 100%;
}
.lavel > h2 {
  color: #fffefa;
}
/* End:Table of Expertise-Interests/Core skills */

/* First: Get in touch screen---------------------------------------------------------------------------------------------- */
/* [ Contact ]*/
.input-form {
  outline: none;
  border: none;
}

.input-form[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

.input-form[type="number"]::-webkit-outer-spin-button,
.input-form[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.textarea-form {
  outline: none;
  border: none;
}

.textarea-form:focus,
.input-form {
  border-color: transparent !important;
}

.input-form:focus::-webkit-input-placeholder {
  color: transparent;
}
.input-form:focus:-moz-placeholder {
  color: transparent;
}
.input-form:focus::-moz-placeholder {
  color: transparent;
}
.input-form:focus:-ms-input-placeholder {
  color: transparent;
}

.textarea-form:focus::-webkit-input-placeholder {
  color: transparent;
}
.textarea-form:focus:-moz-placeholder {
  color: transparent;
}
.textarea-form:focus::-moz-placeholder {
  color: transparent;
}
.textarea-form:focus:-ms-input-placeholder {
  color: transparent;
}

.input-form::-webkit-input-placeholder {
  color: #999999;
}
.input-form:-moz-placeholder {
  color: #999999;
}
.input-form::-moz-placeholder {
  color: #999999;
}
.input-form:-ms-input-placeholder {
  color: #999999;
}

.textarea-form::-webkit-input-placeholder {
  color: #999999;
}
.textarea-form:-moz-placeholder {
  color: #999999;
}
.textarea-form::-moz-placeholder {
  color: #999999;
}
.textarea-form:-ms-input-placeholder {
  color: #999999;
}

.container-contact100 {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
@media (max-width: 700px) {
  .container-contact100 {
    min-height: 100vh;
  }
}

.wrap-contact100 {
  width: 50vw; /* */
  background-color: transparent;
  padding: 30px 0 0 0;
}

@media (max-width: 700px) {
  .wrap-contact100 {
    padding: 30px 0 50px 0;
  }
}

/* For mobile  */
@media (max-width: 992px) {
  .wrap-contact100 {
    width: 550px;
  }
}

/*[ Form ]*/
.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Oswald-Medium;
  font-size: 30px;
  font-size: 2em;
  color: #43383e;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 35px;
  padding-top: 35px;
}

/*[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 17px;
}

.label-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 18px;
  font-size: 1.2em;
  color: #999999;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Oswald-Medium;
  font-size: 15px;
  font-size: 1em;
  color: #43383e;
  line-height: 1.2;
  padding: 0 5px;
}

/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 20px 0 58px;
}

textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}

/*[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 31px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  background: -webkit-linear-gradient(
    -135deg,
    #d5007d,
    #e53935,
    #d5007d,
    #e53935
  );
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 62px;
  font-family: Oswald-Medium;
  font-size: 16px;
  font-size: 1em;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}
/*[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Oswald-Regular;
  color: #c80000;
  font-size: 13px;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
/* End: Get in touch screen */

/* Start:Footer -----------------------------------------------------------------------------------------------------------,-----*/

@media (min-width: 768px) {
  .footer-social {
    padding-bottom: 170px;
  }

  .footer-nav {
    /* width: 456px;  width: 33vw;; */
    width: 456px;
    margin: auto;
    position: relative;
  }

  .footer-menu:after,
  .footer-menu:before {
    top: 0;
    width: 60px;
    height: 76px;
    background: #eae2d5;
    display: block;
    content: "";
    position: absolute;
  }

  .footer-menu:after {
    clear: both;
    right: -61px;
    border-right: 1px solid #857e74;
  }

  .footer-menu:before {
    left: -55px;
    border-left: 1px solid #857e74;
  }

  .ribbon {
    position: absolute;
    top: 76px;
    border-style: solid;
    border-width: 13px;
  }

  .ribbon.left {
    left: -55px;
    border-color: #857e74 #857e74 transparent transparent;
  }

  .ribbon.right {
    left: 491px;
    border-color: #857e74 transparent transparent #857e74;
  }

  .left:after,
  .left:before {
    display: block;
    content: "";
    position: absolute;
    left: -68px;
    border-style: solid;
    z-index: -2;
  }

  .left:after {
    top: -68px;
    border-width: 58px 0 0 56px;
    border-color: #eae2d5 transparent transparent transparent;
  }

  .left:before {
    top: -26px;
    border-width: 0 40px 38px 41px;
    border-color: transparent transparent #eae2d5 transparent;
  }

  .right:after,
  .right:before {
    display: block;
    content: "";
    position: absolute;
    right: -65px;
    border-style: solid;
    z-index: -2;
  }

  .right:before {
    top: -25px;
    border-width: 0 40px 38px 38px;
    border-color: transparent transparent #eae2d5 transparent;
  }

  .right:after {
    top: -65px;
    border-width: 58px 56px 0 0;
    border-color: #eae2d5 transparent transparent transparent;
  }

  .footer-elemts {
    float: left;
    position: relative;
    margin-left: 33px;
    cursor: pointer;
    background-color: #eae2d5;
    list-style-type: none;
    border-left: 2px solid #d7cfc2;
    border-right: 2px solid #d7cfc2;
    transition: margin 0.1s, padding 0.1s, border 1s;
  }

  .footer-elemts:first-child {
    margin-left: 20px;
  }

  .footer-elemts:before,
  .footer-elemts:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: inherit;
    transition: all 0.1s;
  }

  .footer-elemts:before {
    right: 100%;
  }

  .footer-elemts:after {
    left: 100%;
  }

  .footer-elemts:hover {
    margin-top: -9px;
    box-shadow: 0 4px 10px 0px #000;
    transition: margin 0.2s, padding 0.2s;
  }

  .footer-elemts:hover:before,
  .footer-elemts:hover:after {
    height: 86%;
    background: #d7cfc2;
    transition: all 0.2s;
  }

  .footer-elemts:hover:before {
    transform: rotate(-30deg) skew(-30deg) translate(1.5px, 9px);
  }

  .footer-elemts:hover:after {
    transform: rotate(30deg) skew(30deg) translate(-1.5px, 9px);
  }

  .footer-link {
    display: block;
    padding: 10.5px 15px;
    text-decoration: none;
    text-align: center;
  }

  .footer-link .footer-logos {
    text-shadow: 1px 1px 1px #fff;
    color: #857e74;
    transition: all 0.2s;
  }

  .footer-link .footer-logos:first-child {
    font-size: 33px;
    font-size: 2em;
    display: block;
    margin-bottom: 4px;
  }

  .footer-link .footer-logos:last-child {
    text-transform: capitalize;
    font-family: "Georgia";
    font-size: 11px;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-style: italic;
    color: #6488ba;
  }

  .footer-elemts:hover .footer-logos {
    transition: all 0.2s;
  }

  .footer-elemts:hover .footer-link .footer-logos:first-child {
    color: #6488ba;
    text-shadow: 1px 1px 1px #fff, 0 0 1px #6488ba;
  }

  .footer-elemts:hover .footer-link .footer-logos:last-child {
    color: #857e74;
  }
}

@media (max-width: 760px) {
  #footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    margin-bottom: 4em;
  }
  #footer a {
    color: inherit;
  }
  #footer:before {
    content: "";
    display: inline-block;
    width: 6em;
    height: 2px;
    background-color: #666666;
    margin-bottom: 1em;
  }
  .icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }
  .icons > li {
    display: inline-block;
    padding: 0 1em 0 0;
  }
  .icons > li:last-child {
    padding-right: 0;
  }

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  .icon > .label {
    display: none;
  }
}

/*End: footer */
.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tilesWrap li {
  flex: 0 50%;
  width: 20%;
  min-width: 500px;
  max-width: 530px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 0.625rem;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #f0eee1;
  border: 1px solid #252727;
  text-align: left;
}
.tilesWrap li h2 {
  font-style: italic;
  color: #908c7c;
  font-size: 8em;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 5px;
}


.btn-external{
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  /* color: #423c35;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden; */ 
}




/* Fix button */
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}

.tilesWrap li button:before {
  content: "";
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}

.tilesWrap li button:hover {
  color: #262a2b;
}

.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}
.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #9aadbf, #6d98ba);
  background: linear-gradient(to right, #9aadbf, #6d98ba);
}
.tilesWrap li:nth-child(2):before {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #182825, #016fb9);
  background: linear-gradient(to right, #182825, #016fb9);
}
.tilesWrap li:nth-child(3):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #46351d, #646f4b);
  background: linear-gradient(to right, #46351d, #646f4b);
}
.tilesWrap li:nth-child(4):before {
  background: #fc354c;
  background: -webkit-linear-gradient(to right, #694d75, #331832);
  background: linear-gradient(to right, #694d75, #331832);
}
